* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  font-family: "Rubik", sans-serif;
}

button:hover {
  cursor: pointer;
}

.header {
  padding: 32px;
  background: #f5f5f5;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo, .navigation, .nav-list, .login-list {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 500;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: 0.02em;
  color: #69b99d;
  gap: 8px;
}

.nav-list {
  gap: 48px;
  margin-right: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.03em;
}

.nav-list li a {
  display: inline-block;
  color: #73788c;
  position: relative;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.nav-list li a::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #69b99d;
  border-radius: 100%;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.nav-list li a:hover {
  transform: translateY(-10px);
  color: #69b99d;
}

.nav-list li a:hover::after {
  opacity: 1;
}

.login-list {
  gap: 8px;
}

.login-list li a {
  padding: 16px 48px;
  transition: background-color 0.2s ease-in-out;
}

.login-list-sign {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #69b99d;
}

.login-list-login {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #ffffff;
  background-color: #69b99d;
}

.login-list li a:hover {
  background-color: #4b997e;
  color: white;
}

.hero-section {
  padding-top: 77px;
  padding-bottom: 108px;
  background-color: #f5f5f5;
  background-image: url(".././img/hero-section/hero-background.webp");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1000px;
}

.hero-text-starter {
  display: inline-block;
  color: #69b99d;
  font-size: 18px;
  background-color: white;
  padding: 12px 24px;
}

.hero-title {
  margin-top: 32px;
  font-size: 64px;
  color: #1f2744;
  width: 600px;
}

.hero-description {
  font-size: 16px;
  color: #73788c;
  width: 550px;
  margin-top: 24px;
}

.hero-button-list {
  display: flex;
  margin-top: 64px;
}
.hero-button-list button {
  border: none;
  padding: 12px 32px;
  font-weight: 500;
  font-size: 24px;
  background-color: #f5f5f5;
  color: #73788c;
  transition: color 0.2s linear;
}
.hero-button-list button.hero-buy-button {
  background-color: white;
  color: #69b99d;
}
.hero-button-list button:hover {
  color: #69b99d;
}

.hero-form {
  display: flex;
  background-color: white;
  padding: 32px;
  width: 751px;
  gap: 40px;
}
.hero-form .hero-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
}
.hero-form .hero-form-wrapper .select-type {
  width: 86px;
}
.hero-form .hero-form-wrapper select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(".././img/icons/arrow-down-icon.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: right;
  padding-right: 32px;
  border: none;
  color: #73788c;
}
.hero-form .hero-form-button {
  padding: 18px 48px;
  font-size: 16px;
  background-color: #69b99d;
  border: none;
  color: white;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.hero-form .hero-form-button:hover {
  background-color: #7ac9ad;
  transform: scale(1.1);
}

.container {
  display: block;
  padding: 0 20px;
  width: 1240px;
  margin: 0 auto;
}

.discover-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.discover-text-starter {
  display: inline-block;
  color: #69b99d;
  font-size: 18px;
  background-color: #f5f5f5;
  padding: 12px 24px;
}

.discover-title {
  font-size: 48px;
  color: #1f2744;
  margin-top: 16px;
}

.discover-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discover-text-wrapper .learn-more-link {
  display: flex;
  align-items: center;
  color: #69b99d;
  gap: 8px;
  transition: transform 0.2s linear;
}
.discover-text-wrapper .learn-more-link:hover {
  transform: scale(1.1);
}
.discover-text-wrapper .learn-more-link .learn-more-link-image {
  box-shadow: 0 0 20px 0 rgba(105, 185, 157, 0.58);
  border-radius: 50%;
}
.discover-text-wrapper .discover-description {
  font-size: 16px;
  color: #73788c;
  width: 500px;
  margin-top: 16px;
}

.discover-list {
  display: flex;
  gap: 34px;
  margin-top: 48px;
}
.discover-list li {
  padding: 16px;
  border: 1px solid #dedcda;
}
.discover-list li .discover-list-item-title {
  font-size: 24px;
  color: #1f2744;
  margin-top: 16px;
}
.discover-list li .discover-list-description {
  font-size: 16px;
  color: #73788c;
  margin-top: 8px;
}
.discover-list li .discover-money-area-group {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 16px;
}
.discover-list li .discover-money-area-group .discover-list-item-price {
  color: #69b99d;
  font-size: 24px;
  font-weight: 600;
}
.discover-list li .discover-money-area-group .discover-list-item-area {
  font-size: 16px;
  background-color: #f5f5f5;
  padding: 4px 8px;
}
.discover-list li .discover-money-area-group .discover-list-item-area span {
  color: #73788c;
}
.discover-list li .discover-list-item-button {
  display: flex;
  justify-content: center;
  color: #69b99d;
  margin-top: 24px;
  border: 1px solid #69b99d;
  padding: 12px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.discover-list li .discover-list-item-button:hover {
  background-color: #69b99d;
  color: white;
  box-shadow: 0 0 8px #69b99d;
}

.our_advante-section {
  background-color: #f5f5f5;
  padding-bottom: 80px;
  padding-top: 80px;
}

.our_text-starter {
  display: inline-block;
  color: #69b99d;
  font-size: 18px;
  background-color: white;
  padding: 12px 24px;
}

.our_advante-title {
  font-size: 48px;
  color: #1f2744;
  width: 436px;
  margin-top: 16px;
}

.our_advante-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  gap: 32px;
}
.our_advante-list li {
  width: 376px;
}
.our_advante-list li h3 {
  font-size: 28px;
  font-weight: 700;
  color: #1f2744;
  margin-top: 16px;
}
.our_advante-list li p {
  font-weight: 400;
  font-size: 16px;
  color: #73788c;
  margin-top: 16px;
  width: 336px;
  line-height: 163%;
}

.about_us-section {
  padding-top: 120px;
}

.about_image-wrapper {
  position: relative;
}
.about_image-wrapper .about_review-card {
  position: absolute;
  top: -20%;
  left: 96px;
  padding: 32px;
  background-color: white;
}
.about_image-wrapper .about_review-card .about_review-title {
  font-weight: 400;
  font-size: 72px;
  color: #1f2744;
  margin-top: 16px;
}
.about_image-wrapper .about_review-card .about_review-description {
  width: 110px;
  text-align: center;
  margin-top: 16px;
  color: #73788c;
  line-height: 150%;
}
.about_image-wrapper .about_review-card .about_review-description-span {
  color: #1f2744;
}
.about_image-wrapper .about_review-card .about_image-checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_image-wrapper .about_rent-list {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 12px 32px;
  gap: 32px;
}
.about_image-wrapper .about_rent-list li {
  display: flex;
  align-items: center;
}
.about_image-wrapper .about_rent-list li h3 {
  font-weight: 600;
  font-size: 48px;
  color: #1f2744;
}
.about_image-wrapper .about_rent-list li p {
  width: 72px;
  color: #73788c;
  margin-left: 8px;
}

.about_us-wrapper {
  display: flex;
  align-items: center;
  gap: 56px;
}
.about_us-wrapper .about_text-starter {
  display: inline-block;
  color: #69b99d;
  font-size: 18px;
  background-color: #f5f5f5;
  padding: 12px 24px;
}
.about_us-wrapper .about_us-title {
  font-size: 48px;
  color: #1f2744;
  margin-top: 16px;
}
.about_us-wrapper .about_us-description {
  font-size: 16px;
  color: #73788c;
  line-height: 163%;
  margin-top: 16px;
}
.about_us-wrapper .about_us-link {
  display: inline-block;
  margin-top: 48px;
  padding: 18px 48px;
  color: rgb(255, 255, 255);
  background-color: #69b99d;
  box-shadow: 24px 24px 65px 0 rgba(81, 140, 119, 0.24);
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.about_us-wrapper .about_us-link:hover {
  background-color: #81d4b7;
  box-shadow: 24px 24px 65px 0 rgba(102, 189, 158, 0.24);
  transform: scale(1.05);
}

.customer_testimonial_section {
  padding: 120px 0;
}

.customer_text-starter {
  display: inline-block;
  color: #69b99d;
  font-size: 18px;
  background-color: #f5f5f5;
  padding: 12px 24px;
}

.customer-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customer-title-wrapper .customer_title {
  font-size: 48px;
  color: #1f2744;
  margin-top: 16px;
}
.customer-title-wrapper .learn-more-link {
  display: flex;
  align-items: center;
  color: #69b99d;
  gap: 8px;
  transition: transform 0.2s linear;
}
.customer-title-wrapper .learn-more-link:hover {
  transform: scale(1.1);
}
.customer-title-wrapper .learn-more-link .learn-more-link-image {
  box-shadow: 0 0 20px 0 rgba(105, 185, 157, 0.58);
  border-radius: 50%;
}

.customer-list {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 48px;
}
.customer-list li {
  width: 376px;
  height: 350px;
  padding: 24px;
  padding-top: 82px;
  border: 1px solid #dedcda;
  position: relative;
}
.customer-list li::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 24px;
  display: block;
  width: 42px;
  height: 34px;
  background-image: url(.././img/customer-testimonial-section/after.svg);
}
.customer-list li h3 {
  color: #1f2744;
  font-weight: 600;
  line-height: 156%;
  width: 265px;
}
.customer-list li .customer_second-review-title {
  width: 312px;
}
.customer-list li .customer-review-description {
  color: #1f2744;
  margin-top: 16px;
  line-height: 150%;
}
.customer-list li .customer-list-review-wrapper {
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 14px;
}
.customer-list li .customer-list-review-wrapper .customer-list-review-name {
  font-size: 16px;
  line-height: 163%;
  font-weight: 500;
}
.customer-list li .customer-list-review-wrapper .customer-list-review-job {
  font-size: 12px;
  color: #73788c;
}
.customer-list li .customer-list-review-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.footer {
  padding: 75px 0 100px 0;
  background-color: #f5f5f5;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-wrapper .footer-description {
  font-size: 16px;
  line-height: 163%;
  color: #1f2744;
  width: 344px;
  margin-top: 16px;
}
.footer-wrapper .footer-form-title {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: #0b2e29;
  margin-top: 24px;
}
.footer-wrapper .footer-form-wrapper {
  display: flex;
  align-items: center;
  gap: 0;
  margin-top: 16px;
}
.footer-wrapper .footer-form-wrapper .footer-input {
  border: none;
  padding: 8px 16px;
}
.footer-wrapper .footer-form-wrapper .footer-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #d7d7d7;
}
.footer-wrapper .footer-form-wrapper .footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #d7d7d7;
}
.footer-wrapper .footer-form-wrapper .footer-input:focus {
  outline: none;
}
.footer-wrapper .footer-form-wrapper .footer-form-button {
  border: none;
  padding: 8px 24px;
  color: white;
  background-color: #69b99d;
  box-shadow: 0 0 65px 0 rgba(105, 185, 157, 0.48);
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.footer-wrapper .footer-form-wrapper .footer-form-button:hover {
  box-shadow: 0 0 65px rgb(19, 223, 151);
  background-color: rgb(149, 219, 172);
}
.footer-wrapper .footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-wrapper .footer-list li a {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #73788c;
  line-height: 150%;
  transition: transform 0.1s linear;
}
.footer-wrapper .footer-list li a:hover {
  transform: translateY(-5px);
}
.footer-wrapper h3 {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 20px;
  color: #0b2e29;
}

.footer-social-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-social-list li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.footer-social-list li a:hover {
  box-shadow: 0 0 10px rgb(219, 253, 219);
  transform: scale(1.1);
}/*# sourceMappingURL=main.css.map */