@import '../utils/variables';
@import '../utils/mixins';

.discover-section {
    // padding-top: 120px;
    // padding-bottom: 120px;
    padding-top: 50px;
    padding-bottom: 50px;

    @include tablet-screen {
        & {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    @include dekstop-screen {
        & {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    }
}

.discover-text-starter {
    display: inline-block;
    color: $main-color;
    // font-size: 18px;
    font-size: 14px;
    background-color: $main-color-and-background;
    padding: 12px 24px;

    @include tablet-screen {
        & {
            display: block;
            margin: 0 auto;
            width: 130px;
            font-size: 16px;
        }
    }

    @include dekstop-screen {
        & {
            font-size: 18px;
            display: inline-block;
            width: auto;
        }
    }
}

.discover-title {
    // font-size: 48px;
    font-size: 24px;
    color: $titles-color;
    margin-top: 16px;

    @include tablet-screen {
        & {
            font-size: 30px;
            text-align: center;
        }
    }

    @include dekstop-screen {
        & {
            font-size: 48px;
            text-align: left;
        }
    }
}

.discover-text-wrapper {
    display: flex;
    // align-items: center;
    // justify-content: space-between;
    flex-direction: column;
    gap: 15px;

    @include tablet-screen {
        & {
            justify-content: center;
        }
    }

    @include dekstop-screen {
        & {
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            gap: 0;
        }
    }

    .learn-more-link {
        display: flex;
        align-items: center;
        color: $main-color;
        gap: 8px;
        transition: transform 0.2s linear;

        &:hover {
            transform: scale(1.1);
        }

        .learn-more-link-image {
            box-shadow: 0 0 20px 0 rgba(105, 185, 157, 0.58);
            border-radius: 50%;
        }
    }

    .discover-description {
        // font-size: 16px;
        font-size: 13px;
        color: $text-color;
        width: 300px;
        margin-top: 16px;

        @include tablet-screen {
            & {
                font-size: 14px;
                text-align: center;
                width: 100%;
            }
        }

        @include dekstop-screen {
            & {
                width: 500px;
                font-size: 16px;
                text-align: left;
            }
        }
    }
}

.discover-list {
    display: flex;
    flex-direction: column;
    // gap: 34px;
    gap: 24px;
    // margin-top: 48px;
    margin-top: 24px;
    
    @include tablet-screen {
        & {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }

    @include dekstop-screen {
        & {
            gap: 34px;
            margin-top: 48px;
            flex-wrap: nowrap;
        }
    }

    li {
        padding: 16px;
        border: 1px solid #dedcda;

        img {
            width: 250px;
            height: 173px;

            @include dekstop-screen {
                & {
                    width: 344px;
                    height: 238px;
                }
            }
        }

        .discover-list-item-title {
            // font-size: 24px;
            font-size: 20px;
            color: $titles-color;
            margin-top: 16px;

            @include dekstop-screen {
                & {
                    font-size: 24px;
                }
            }
        }

        .discover-list-description {
            // font-size: 16px;
            font-size: 13px;
            color: $text-color;
            margin-top: 8px;

            @include dekstop-screen {
                & {
                    font-size: 16px;
                }
            }
        }

        .discover-money-area-group {
            display: flex;
            align-items: center;
            gap: 32px;
            margin-top: 16px;

            .discover-list-item-price {
                color: $main-color;
                // font-size: 24px;
                font-size: 20px;
                font-weight: 600;

                @include dekstop-screen {
                    & {
                        font-size: 24px;
                    }
                }
            }

            .discover-list-item-area {
                // font-size: 16px;
                font-size: 12px;
                background-color: #f5f5f5;
                padding: 4px 8px;

                @include dekstop-screen {
                    & {
                        font-size: 16px;
                    }
                }
            }

            .discover-list-item-area span {
                color: $text-color;
            }
        }

        .discover-list-item-button {
            display: flex;
            justify-content: center;
            color: $main-color;
            // margin-top: 24px;
            margin-top: 18px;
            border: 1px solid $main-color;
            padding: 12px;
            font-size: 16px;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

            &:hover {
                background-color: $main-color;
                color: white;
                box-shadow: 0 0 8px $main-color;
            }

            @include dekstop-screen {
                & {
                    margin-top: 24px;
                }
            }
        }
    }
}