@import '../utils/variables';
@import '../utils/mixins';

.footer {
    padding: 75px 0 100px 0;
    background-color: $main-color-and-background;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    .footer-description {
        // font-size: 16px;
        font-size: 13px;
        line-height: 163%;
        color: $titles-color;
        // width: 344px;
        width: 244px;
        margin-top: 16px;

        @include tablet-screen {
            & {
                font-size: 16px;
                width: 344px;
            }
        }
    }

    .footer-form-title {
        display: inline-block;
        // font-size: 20px;
        font-size: 17px;
        font-weight: 500;
        color: #0b2e29;;
        margin-top: 24px;

        @include tablet-screen {
            & {
                font-size: 20px;
            }
        }
    }

    .footer-form-wrapper {
        display: flex;
        align-items: center;
        gap: 0;
        margin-top: 16px;

        .footer-input {
            border: none;
            padding: 8px 16px;
            width: 180px;

            @include tablet-screen {
                & {
                    width: auto;
                }
            }

            &::placeholder {
                font-weight: 400;
                // font-size: 16px;
                font-size: 14px;
                color: #d7d7d7;

                @include tablet-screen {
                    & {
                        font-size: 16px;
                    }
                }
            }

            &:focus {
                outline: none;
            }
        }

        .footer-form-button {
            border: none;
            padding: 8px 24px;
            color: white;
            background-color: $main-color;
            box-shadow: 0 0 65px 0 rgba(105, 185, 157, 0.48);
            transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;

            &:hover {
                box-shadow: 0 0 65px rgb(19, 223, 151);
                background-color: rgb(149, 219, 172);
            }
        }
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        li a {
            display: block;
            font-weight: 400;
            font-size: 13px;
            color: $text-color;
            line-height: 150%;
            transition: transform 0.1s linear;

            &:hover {
                transform: translateY(-5px);
            }

            @include tablet-screen {
                & {
                    font-size: 16px;
                }
            }
        }
    }

    h3 {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        color: #0b2e29;

        @include tablet-screen {
            & {
                font-size: 20px;
            }
        }
    }
}

.footer-social-list {
    display: flex;
    align-items: center;
    gap: 16px;

    li a{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;

        &:hover {
            box-shadow: 0 0 10px rgb(219, 253, 219);
            transform: scale(1.1);
        }
    }
}