@import '../utils/variables';
@import '../utils/mixins';

.header {
    // padding: 32px;
    padding: 12px 0;
    background: $main-color-and-background;
    position: sticky;
    top: 0;
    z-index: 100;
}

@include dekstop-screen {
    .header {
        padding: 32px 0;
    }
}

.header-wrapper {
    display: flex;
    // align-items: center;
    // justify-content: space-between;
    flex-direction: column;
    gap: 15px;
}

@include tablet-screen {
    .header-wrapper {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
}

.logo, .navigation, .nav-list, .login-list {
    display: flex;
    align-items: center;
}

.logo {
    font-weight: 500;
    font-size: 20px;
    line-height: 108%;
    letter-spacing: 0.02em;
    color: $main-color;
    gap: 8px;
}

@include dekstop-screen {
    .logo-image {
        width: 40px;
        height: 40px;
    }
}

.nav-list {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    // gap: 48px;
    gap: 24px;
    // margin-right: 32px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.03em
}

@include tablet-screen {
    .nav-list {
        margin-right: 12px;
        overflow-x: visible;
        overflow-y: visible;
        white-space: normal;
    }
}

@include dekstop-screen {
    .nav-list {
        gap: 48px;
        margin-right: 32px;
        font-size: 18px;
    }
}

.nav-list::-webkit-scrollbar {
  display: none;
}

.nav-list li a{
    display: inline-block;
    color: $text-color;
    position: relative;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
    
}

.nav-list li a::after{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: $main-color;
    border-radius: 100%;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.nav-list li a:hover {
    transform: translateY(-10px);
    color: $main-color;
}

.nav-list li a:hover::after {
    opacity: 1;
}

.login-list {
    gap: 8px;
    position: absolute;
    top: 14px;
    right: 14px;
}

@include tablet-screen {
    .login-list {
        position: relative;
        top: 0;
        right: 0;
    }
}

.login-list li a{
    // padding: 16px 48px;
    padding: 8px 24px;
    transition: background-color 0.2s ease-in-out;
}

@include dekstop-screen {
    .login-list li a {
        padding: 16px 48px;
    }
}

.login-list-sign {
    font-weight: 500;
    // font-size: 16px;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0em;
    color: $main-color;
}

.login-list-login {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0em;
    color: #ffffff;
    background-color: $main-color;
}

@include dekstop-screen {
    .login-list-sign, .login-list-login {
        font-size: 16px;
    }
}

.login-list li a:hover{
    background-color: #4b997e;
    color: white;
}